.MoviesSwiper .swiper-button-next,
.MoviesSwiper .swiper-button-prev {
  position: absolute;
  right: 10px;
  top: 60%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.MoviesSwiper .swiper-button-next,
.MoviesSwiper .swiper-button-prev {
  top: 50%;
}
.MoviesSwiper .swiper-button-next::after,
.MoviesSwiper .swiper-button-prev::after {
  color: white;
  font-size: 15px;
}

.MoviesSwiper {
  height: auto;
  width: 100%;
}

